<!DOCTYPE html>
<html lang="en">
<head>
<title>Profile Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='profileStyles.css') }}"> 
</head>
<body>

<div class="topnav">
  <p id="inventory_name">Inventory</p>
  <a href="#">Username</a>
</div>

<div class="sidenav">
  <a href="profile_management.html">Profile Management</a>
  <a href="pending_trades.html">Pending Trades</a>
  <a href="#">Back to Marketplace</a>
  <a id="logout" href="#">Logout</a>
</div>

<div class="content">
  <h1>Profile Management</h1>
  <form>
    <div class="form-group">
      <label for="username">Update Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter new username">
    </div>
    <div class="form-group">
      <label for="password">Change Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter new password">
    </div>
    <button type="submit">Update Profile</button>
  </form>
</div>

</body>
</html>
