/* Basic Navigation bar styling, can update when and standardise across pages. */
#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0075be;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: #ffcb05;
}
/*Custom display box */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Custom Display box*/


/* End of Navbar*/

#summonBoxImage{
    position: relative;
    width: 1000px;
    height: 600px;
    border: 5px solid #3b4cca;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#pokeballcount{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 40px;
}

#pokeball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}
#pokeball:hover {
    animation: shake 0.6s infinite;
    
}
/* Animation for pokeball shaking*/
@keyframes shake {
    0% { transform: translate(-50%, -50%) translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-50%, -50%) translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-50%, -50%) translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(-50%, -50%) translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(-50%, -50%) translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-50%, -50%) translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-50%, -50%) translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(-50%, -50%) translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-50%, -50%) translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(-50%, -50%) translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) translate(1px, -2px) rotate(-1deg); }
}