* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #inventory_name {
    color: white;
    margin-left: 200px;
    font-size: x-large;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #195;
    overflow-x: hidden;
  }
  
  #logout {
    position: absolute;
    bottom: 20px;
    width: 164px;
  }
  
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content {
    margin-left: 200px;
    padding-left: 16px;
    padding-top: 20px;
  }
  
  .inventory-items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Space between items */
  }
  
  .inventory-item {
    width: 150px; /* Width of each inventory item */
    border: 1px solid #ddd; /* Border for visibility */
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional shadow for better visibility */
  }
  