/* profileStyles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; /* Remove padding to ensure full width utilization */
  background-image: url("images/pokemonwallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: calc(100% - 200px);
  margin-left: 200px;
  margin-top: 60px; /* Add a margin-top to move the container down */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.topnav {
  position: fixed;
  top: 0;
  left: 200px; /* Ensure topnav starts right after the sidebar */
  width: calc(100% - 200px); /* Adjust width to start after sidebar */
  background-color: #ffcb05;
  padding: 8px 16px;
  box-sizing: border-box; /* Include padding in width calculations */
}

.topnav a {
  float: right;
  color: #3050a0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#logout {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 32px); /* Ensure full width within sidebar */
  text-align: center; /* Center align the logout text */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Align labels to the right */
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Make the button block level to fill the form */
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px; /* Add padding for better spacing inside the container */
}

.pokemon-box {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  width: 100px; /* Fixed width for consistency */
  height: 150px; /* Increased height to accommodate image and text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-img {
  max-width: 80%; /* Adjust image size within the box */
  height: auto;
}

