<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Catch em</title>
<script src="{{ url_for('static', filename='/catching/catchingscript.js') }}"></script>
<link rel="icon" type="image/x-icon" href="static/images/pokeball.png">
<link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/catching/catchingstyle.css') }}">

</head>
<body>
 <!-- Filler Navigation Bar. -->   
 <div class="sidenav">
    <a href="{{ url_for('main.profile') }}">Profile Management</a>
    <a href="{{ url_for('main.trading') }}">Trading</a>
    <a href="{{ url_for('main.catching') }}">Catching Page</a>
    <a href="{{ url_for('main.logout') }}">Logout</a>
</div>
 
<!-- Image with button inside -->  
<div class = "container">
    <!--Count for currency used to "catch" pokemon. -->  
    <div id="pokeballcount" class = "pokeball-info">
        <p>Remaining Pokeballs: {{ pokeball_count }}</p>
    </div>
    <!-- Box to house summon button --> 
    <div class ="summonBox">
        <button id="pokeball" onclick="summonPokemon(event)">
            <img src="{{ url_for('static', filename='images/pokeball.png') }}" width="250" height="250">
        </button>

        <!--Custom display box to show returned pokemon-->
        <div id="pokemonModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="pokemonName"></p>
                <img id="pokemonImage" src="" alt="Random Pokémon" width="500" height="500">
            </div>
        </div>
    </div>
</div>

</body>
</html>
