<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='login/login.css') }}">

        <title>Login and Landing Page</title>
    </head>
    <body>
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        <p>{{ message }}</p>
                        <button class="close-btn" aria-label="Close">&times;</button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="welcome-container">
            <div class="welcome">
                <div class="login__img"></div>
                <h1>Welcome to PokeTrade</h1>
                <h3>Catch 'Em All</h3>
                <p>Dive into the ultimate Pokemon trading experience. Sign up and catch your first Pokemon to start your journey.</p>
                <h3>Trade Like a Pro</h3>
                <p>
                    Got a Pokemon someone else needs? 
                    Place a trade request and offer one from your collection. 
                    When another trainer has what you want and you have what they need, the trade is on!
                </p>
                <button id="get-started" class="login__button">Get Started</button>
            </div>
        </div>        
        <div class="login none">
            <div class="login__content">
                <div class="login__img"></div>

                <div class="login__forms">
                    <form action="/login" method="POST" class="login__register" id="login-in">
                        <h1 class="login__title">Sign In</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" name="username" placeholder="Username" class="login__input" required>
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" name="password" placeholder="Password" class="login__input" required>
                        </div>

                        <button type="submit" class="login__button">Sign In</button>

                        <div>
                            <span class="login__account">Don't have an Account ?</span>
                            <span class="login__signin" id="sign-up">Sign Up</span>
                        </div>
                    </form>

                    <form action="/signup" method="POST" class="login__create none" id="login-up">
                        <h1 class="login__title">Create Account</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" name="username" placeholder="Username" class="login__input" required>
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-at login__icon'></i>
                            <input type="text" name="email" placeholder="Email" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" name="password" placeholder="Password" class="login__input" required>
                        </div>

                        <button type="submit" class="login__button">Sign Up</button>

                        <div>
                            <span class="login__account">Already have an Account ?</span>
                            <span class="login__signup" id="sign-in">Sign In</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='login/login.js') }}"></script>
    </body>
</html>