<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/images/pokeball.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/trading/trading.css') }}">
    <script src="{{ url_for('static', filename='/trading/trading.js') }}"></script>
    <title>Pokemon Trading Page</title>
</head>
<body>
    <!-- Side navigation bar to navigate between pages -->
    <div class="sidenav">
        <a href="{{ url_for('profile') }}">Profile Management</a>
        <a href="{{ url_for('trading') }}">Trading</a>
        <a href="{{ url_for('catching') }}">Catching Page</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="container">
        <h1>Pokemon Trading Page</h1>

        <!-- Trade Posting button -->
        <div class="trade-post">
            <h2>Post a Trade Request</h2>
            <button type="button" class="btn btn-primary" onclick="openTradeModal()">Post Trade</button>
        </div>

        <!-- Trade Modal -->
        <div id="tradeModal" class="trade-modal">
            <span class="close-button" onclick="closeTradeModal()">&times;</span>
            <div class="modal-content">
                <h2>Trade Pokemon</h2>
                <div class="trade-box">
                    <!-- Pokemon to receive list -->
                    <div class="pokemon-list">
                        <h3>Select Pokemon to Receive</h3>
                        <div class="pokemon-grid" id="pokemonToReceiveList">
                            {% for pokemon in all_pokemon %}
                                <div class="pokemon-box" onclick="selectPokemonToReceive('{{ pokemon.name }}')">
                                    <img src="{{ url_for('static', filename=pokemon.poke_url) }}" alt="{{ pokemon.name }}" class="pokemon-img">
                                    <p class="pokemon-name">{{ pokemon.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Pokemon to trade out list -->
                    <div class="pokemon-list">
                        <h3>Select Pokemon to Trade Out</h3>
                        <div class="pokemon-grid" id="pokemonToTradeOutList">
                            {% for pokemon in current_user_pokemon %}
                                <div class="pokemon-box" onclick="selectPokemonToTradeOut('{{ pokemon.name }}')">
                                    <img src="{{ url_for('static', filename=pokemon.poke_url) }}" alt="{{ pokemon.name }}" class="pokemon-img">
                                    <p class="pokemon-name">{{ pokemon.name }}</p>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                </div>
                <div class="confirm-button">
                    <button onclick="confirmTrade()">Confirm Trade</button>
                </div>
            </div>
        </div>

        <!-- Posting trade-post confirmation Popup -->
        <div id="confirmPopup" class="confirm-popup">
            <div class="popup-content">
                <h2>Confirm Trade</h2>
                <p>Are you sure you want to trade <span id="selectedPokemonToReceive"></span> for <span id="selectedPokemonToTradeOut"></span>?</p>
                <div class="confirm-buttons">
                    <button id="tradeButton" onclick="confirmTradeFinal()">Confirm</button>
                    <button onclick="closeConfirmationModal()">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Trading post list -->
        <h2>Available Pokemon for Trading</h2>
        <div class="available-pokemon-grid">
            {% for trade in trading_data%}
                {% set pokemon_in = Pokemon.query.filter_by(id=trade.pokemon_trade_in_id).first() %}
                {% set pokemon_out = Pokemon.query.filter_by(id=trade.pokemon_trade_out_id).first() %}
                <div class="trading-pokemon-box">
                    <img src="{{ url_for('static', filename=pokemon_out.poke_url) }}" alt="{{ pokemon_out.name }}" class="pokemon-img">
                    <p class="pokemon-name">{{ pokemon_out.name }}</p>
                    <p class="user-name">{{ trade.user_name }}</p>
                    <div class="available-pokemon-trade-confirm">
                        
                        <img src="{{ url_for('static', filename=pokemon_in.poke_url) }}" alt="{{ pokemon_in.name }}" class="pokemon-img">
                        <p>Trading {{ pokemon_in.name }} for {{ pokemon_out.name }} </p>
                        <div class="confirm-buttons">
                            <button onclick="confirmAvailableTrade('{{ trade.id }}')">Trade</button>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>

        <!-- Trading confirmation Popup -->
        <div id="confirm-available-trade" class="confirm-popup">
            <div class="popup-content">
                <h2>Confirm Trade</h2>
                <p>Are you sure you want to make this trade?</p>
                <div class="confirm-buttons">
                    <!-- Confirm button with inline JavaScript -->
                    <button onclick="confirmAvailableTradeFinal()" >Confirm</button>
                    <button onclick="closeAvalableTradeConfirmation()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>